##### Copyright 2019 The TensorFlow Authors.

In [2]:
import pandas as pd

grade_to_mark = {
    'excellent': 5,
    'good': 4,
    'satisfactory': 3,
    'Unsatisfactory (exam retake)': 2,
    'Unsatisfactory (repetition)': 1
}

def get_ects_grade(score):
    if 90 <= score <= 100:
        return 'A'
    elif 82 <= score <= 89:
        return 'B'
    elif 74 <= score <= 81:
        return 'C'
    elif 64 <= score <= 73:
        return 'D'
    elif 60 <= score <= 63:
        return 'E'
    elif 35 <= score <= 59:
        return 'FX'
    else:
        return 'F'

def get_national_grade(score):
    if 90 <= score <= 100:
        return 'excellent'
    elif 82 <= score <= 89:
        return 'good'
    elif 74 <= score <= 81:
        return 'good'
    elif 64 <= score <= 73:
        return 'satisfactory'
    elif 60 <= score <= 63:
        return 'satisfactory'
    elif 35 <= score <= 59:
        return 'Unsatisfactory (exam retake)'
    else:
        return 'Unsatisfactory (repetition)'


print("==============================================================================\n")
print("SUBTASK 1")
print('Reading the dataset...')
df = pd.read_excel('1_workshop_DataSet.xlsx', index_col=0, engine='openpyxl')

print("Printing after success reading file")
print(df)

print("==============================================================================\n")
print("SUBTASK 2")
df['Total score for subject 1'] = df['Subject1. Test 1'] + df['Subject1. Test2']
df['Total score for subject 2'] = df['Subject2. Test 1'] + df['Subject2. Test 2']

print("Printing after success calculating total score of the tests!")
print(df)

print("==============================================================================\n")
print("SUBTASK 3")
df['ECTS grading scale subject 1'] = df['Total score for subject 1'].apply(get_ects_grade)
df['The national grading scale subject 1'] = df['Total score for subject 1'].apply(get_national_grade)

df['ECTS grading scale subject 2'] = df['Total score for subject 2'].apply(get_ects_grade)
df['The national grading scale subject 2'] = df['Total score for subject 2'].apply(get_national_grade)

print("Printing after success calculating ECTS and National grades!")
print(df)

print("Printing df.info() for checking data types!")
df.info()

print("==============================================================================\n")
print("SUBTASK 4")
df = df.reset_index()

new_df = df[['Last name','first name', 'Group',
             'The national grading scale subject 1',
             'The national grading scale subject 2']].copy()
new_df = new_df.rename(columns={
    'The national grading scale subject 1': 'The national grading scale Artificial Intelligence',
    'The national grading scale subject 2': 'The national grading scale Object-Oriented Programming'
})

print("Printing new dataset with renames subjects")
print(new_df)

new_df.to_excel('2_workshop_DataSet.xlsx', index=False)

print("==============================================================================\n")
print("SUBTASK 5")
new_df['The national grading scale Artificial Intelligence'] \
    = new_df['The national grading scale Artificial Intelligence'].map(grade_to_mark)
new_df['The national grading scale Object-Oriented Programming']\
    = new_df['The national grading scale Object-Oriented Programming'].map(grade_to_mark)

print("Printing new dataset with replaced marks")
print(new_df)

new_df.to_excel('Lab_2_DataSet.xlsx', index=False)

print("==============================================================================\n")
print("SUBTASK 6")
last_names_unique = new_df['Last name'].unique().tolist()
first_names_unique = new_df['first name'].unique().tolist()
groups_unique = new_df['Group'].unique().tolist()
ai_national_grades_unique = new_df['The national grading scale Artificial Intelligence'].unique().tolist()
oop_national_grades_unique = new_df['The national grading scale Object-Oriented Programming'].unique().tolist()

print("Unique last names:", last_names_unique)
print("Unique first names:", first_names_unique)
print("Unique groups:", groups_unique)
print("Unique AI national grades:", ai_national_grades_unique)
print("Unique OOP national grades:", oop_national_grades_unique)

print("==============================================================================\n")
print("SUBTASK 7")
last_name_counts = new_df['Last name'].value_counts().reset_index()
last_name_counts.columns = ['Last name', 'Count']

first_name_counts = new_df['first name'].value_counts().reset_index()
first_name_counts.columns = ['First name', 'Count']

group_counts = new_df['Group'].value_counts().reset_index()
group_counts.columns = ['Group', 'Count']

ai_grade_counts = new_df['The national grading scale Artificial Intelligence'].value_counts().reset_index()
ai_grade_counts.columns = ['Artificial Intelligence Grade', 'Count']

oop_grade_counts = new_df['The national grading scale Object-Oriented Programming'].value_counts().reset_index()
oop_grade_counts.columns = ['Object-Oriented Programming Grade', 'Count']

print("Last name counts:\n", last_name_counts)
print("\nFirst name counts:\n", first_name_counts)
print("\nGroup counts:\n", group_counts)
print("\nAI grade counts:\n", ai_grade_counts)
print("\nOOP grade counts:\n", oop_grade_counts)

print("==============================================================================\n")
print("SUBTASK 8")
filtered_students = new_df[
    (new_df['The national grading scale Artificial Intelligence'].isin([4, 5])) &
    (new_df['The national grading scale Object-Oriented Programming'].isin([4, 5]))
]

total_students = filtered_students.shape[0]

print(f'The number of students with only excellent and good marks in all groups: {total_students}')

print("==============================================================================\n")
print("SUBTASK 9")
unsatisfactory_students = new_df[
    (new_df['The national grading scale Artificial Intelligence'].isin([1, 2])) &
    (new_df['The national grading scale Object-Oriented Programming'].isin([1, 2]))
]

unsatisfactory_by_group = unsatisfactory_students.groupby('Group').size().reset_index(name='Number of Unsatisfactory Students')

print("Printing unsatisfactory mark's count by groups")
print(unsatisfactory_by_group)

print("==============================================================================\n")
print("SUBTASK 10")
grade_counts_ai = new_df.groupby('The national grading scale Artificial Intelligence').size().reset_index(name='Count')
grade_counts_oop = new_df.groupby('The national grading scale Object-Oriented Programming').size().reset_index(name='Count')

print("AI grade counts:\n", grade_counts_ai)
print("\nOOP grade counts:\n", grade_counts_oop)

print("==============================================================================\n")
print("SUBTASK 11")
non_unsatisfactory_students = new_df[
    ~new_df['The national grading scale Artificial Intelligence'].isin([1, 2]) &
    ~new_df['The national grading scale Object-Oriented Programming'].isin([1, 2])
]

group_counts_non_unsatisfactory = non_unsatisfactory_students.groupby('Group').size().reset_index(name='Count')

groups_without_unsatisfactory = group_counts_non_unsatisfactory[group_counts_non_unsatisfactory['Count'] > 0]

print("Groups without any Unsatisfactory marks:\n", groups_without_unsatisfactory)

==============================================================================

SUBTASK 1
Reading the dataset...
Printing after success reading file
             first name Group  Subject1. Test 1  Subject1. Test2  \
Last name
БЕЗЗЕМЕЛЬНИЙ  Костянтин     A                40               60
БІРЮКОВ          Дмитро     A                24               52
БОНДАРЕНКО    Єлизавета     A                40               60
БРЕСЛАВЕЦЬ      Михайло     A                22               50
ГАЛЬПЕРІН        Максим     A                32               54
...                 ...   ...               ...              ...
ТЮПА              Павло     C                 8               52
ТЮРІН            Богдан     C                16               46
УШКАЛОВ          Нікіта     C                16               46
ШЕВЧЕНКО      Олександр     C                15               60
ШЕХОВЦОВ         Дмитро     C                50               50

              Subject2. Test 1  Subject2. Test 2
Last name
БЕЗЗЕМЕЛЬНИЙ                38                62
БІРЮКОВ                     22                54
БОНДАРЕНКО                  38                62
БРЕСЛАВЕЦЬ                  20                52
ГАЛЬПЕРІН                   30                56
...                        ...               ...
ТЮПА                         6                54
ТЮРІН                       14                48
УШКАЛОВ                     14                48
ШЕВЧЕНКО                    13                62
ШЕХОВЦОВ                    48                52

[75 rows x 6 columns]
==============================================================================

SUBTASK 2
Printing after success calculating total score of the tests!
             first name Group  Subject1. Test 1  Subject1. Test2  \
Last name
БЕЗЗЕМЕЛЬНИЙ  Костянтин     A                40               60
БІРЮКОВ          Дмитро     A                24               52
БОНДАРЕНКО    Єлизавета     A                40               60
БРЕСЛАВЕЦЬ      Михайло     A                22               50
ГАЛЬПЕРІН        Максим     A                32               54
...                 ...   ...               ...              ...
ТЮПА              Павло     C                 8               52
ТЮРІН            Богдан     C                16               46
УШКАЛОВ          Нікіта     C                16               46
ШЕВЧЕНКО      Олександр     C                15               60
ШЕХОВЦОВ         Дмитро     C                50               50

              Subject2. Test 1  Subject2. Test 2  Total score for subject 1  \
Last name
БЕЗЗЕМЕЛЬНИЙ                38                62                        100
БІРЮКОВ                     22                54                         76
БОНДАРЕНКО                  38                62                        100
БРЕСЛАВЕЦЬ                  20                52                         72
ГАЛЬПЕРІН                   30                56                         86
...                        ...               ...                        ...
ТЮПА                         6                54                         60
ТЮРІН                       14                48                         62
УШКАЛОВ                     14                48                         62
ШЕВЧЕНКО                    13                62                         75
ШЕХОВЦОВ                    48                52                        100

              Total score for subject 2
Last name
БЕЗЗЕМЕЛЬНИЙ                        100
БІРЮКОВ                              76
БОНДАРЕНКО                          100
БРЕСЛАВЕЦЬ                           72
ГАЛЬПЕРІН                            86
...                                 ...
ТЮПА                                 60
ТЮРІН                                62
УШКАЛОВ                              62
ШЕВЧЕНКО                             75
ШЕХОВЦОВ                            100

[75 rows x 8 columns]
==============================================================================

SUBTASK 3
Printing after success calculating ECTS and National grades!
             first name Group  Subject1. Test 1  Subject1. Test2  \
Last name
БЕЗЗЕМЕЛЬНИЙ  Костянтин     A                40               60
БІРЮКОВ          Дмитро     A                24               52
БОНДАРЕНКО    Єлизавета     A                40               60
БРЕСЛАВЕЦЬ      Михайло     A                22               50
ГАЛЬПЕРІН        Максим     A                32               54
...                 ...   ...               ...              ...
ТЮПА              Павло     C                 8               52
ТЮРІН            Богдан     C                16               46
УШКАЛОВ          Нікіта     C                16               46
ШЕВЧЕНКО      Олександр     C                15               60
ШЕХОВЦОВ         Дмитро     C                50               50

              Subject2. Test 1  Subject2. Test 2  Total score for subject 1  \
Last name
БЕЗЗЕМЕЛЬНИЙ                38                62                        100
БІРЮКОВ                     22                54                         76
БОНДАРЕНКО                  38                62                        100
БРЕСЛАВЕЦЬ                  20                52                         72
ГАЛЬПЕРІН                   30                56                         86
...                        ...               ...                        ...
ТЮПА                         6                54                         60
ТЮРІН                       14                48                         62
УШКАЛОВ                     14                48                         62
ШЕВЧЕНКО                    13                62                         75
ШЕХОВЦОВ                    48                52                        100

              Total score for subject 2 ECTS grading scale subject 1  \
Last name
БЕЗЗЕМЕЛЬНИЙ                        100                            A
БІРЮКОВ                              76                            C
БОНДАРЕНКО                          100                            A
БРЕСЛАВЕЦЬ                           72                            D
ГАЛЬПЕРІН                            86                            B
...                                 ...                          ...
ТЮПА                                 60                            E
ТЮРІН                                62                            E
УШКАЛОВ                              62                            E
ШЕВЧЕНКО                             75                            C
ШЕХОВЦОВ                            100                            A

             The national grading scale subject 1  \
Last name
БЕЗЗЕМЕЛЬНИЙ                            excellent
БІРЮКОВ                                      good
БОНДАРЕНКО                              excellent
БРЕСЛАВЕЦЬ                           satisfactory
ГАЛЬПЕРІН                                    good
...                                           ...
ТЮПА                                 satisfactory
ТЮРІН                                satisfactory
УШКАЛОВ                              satisfactory
ШЕВЧЕНКО                                     good
ШЕХОВЦОВ                                excellent

             ECTS grading scale subject 2 The national grading scale subject 2
Last name
БЕЗЗЕМЕЛЬНИЙ                            A                            excellent
БІРЮКОВ                                 C                                 good
БОНДАРЕНКО                              A                            excellent
БРЕСЛАВЕЦЬ                              D                         satisfactory
ГАЛЬПЕРІН                               B                                 good
...                                   ...                                  ...
ТЮПА                                    E                         satisfactory
ТЮРІН                                   E                         satisfactory
УШКАЛОВ                                 E                         satisfactory
ШЕВЧЕНКО                                C                                 good
ШЕХОВЦОВ                                A                            excellent

[75 rows x 12 columns]
Printing df.info() for checking data types!
<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, БЕЗЗЕМЕЛЬНИЙ to ШЕХОВЦОВ
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   first name                            75 non-null     object
 1   Group                                 75 non-null     object
 2   Subject1. Test 1                      75 non-null     int64
 3   Subject1. Test2                       75 non-null     int64
 4   Subject2. Test 1                      75 non-null     int64
 5   Subject2. Test 2                      75 non-null     int64
 6   Total score for subject 1             75 non-null     int64
 7   Total score for subject 2             75 non-null     int64
 8   ECTS grading scale subject 1          75 non-null     object
 9   The national grading scale subject 1  75 non-null     object
 10  ECTS grading scale subject 2          75 non-null     object
 11  The national grading scale subject 2  75 non-null     object
dtypes: int64(6), object(6)
memory usage: 7.6+ KB
==============================================================================

SUBTASK 4
Printing new dataset with renames subjects
       Last name first name Group  \
0   БЕЗЗЕМЕЛЬНИЙ  Костянтин     A
1        БІРЮКОВ     Дмитро     A
2     БОНДАРЕНКО  Єлизавета     A
3     БРЕСЛАВЕЦЬ    Михайло     A
4      ГАЛЬПЕРІН     Максим     A
..           ...        ...   ...
70          ТЮПА      Павло     C
71         ТЮРІН     Богдан     C
72       УШКАЛОВ     Нікіта     C
73      ШЕВЧЕНКО  Олександр     C
74      ШЕХОВЦОВ     Дмитро     C

   The national grading scale Artificial Intelligence  \
0                                           excellent
1                                                good
2                                           excellent
3                                        satisfactory
4                                                good
..                                                ...
70                                       satisfactory
71                                       satisfactory
72                                       satisfactory
73                                               good
74                                          excellent

   The national grading scale Object-Oriented Programming
0                                           excellent
1                                                good
2                                           excellent
3                                        satisfactory
4                                                good
..                                                ...
70                                       satisfactory
71                                       satisfactory
72                                       satisfactory
73                                               good
74                                          excellent

[75 rows x 5 columns]
==============================================================================

SUBTASK 5
Printing new dataset with replaced marks
       Last name first name Group  \
0   БЕЗЗЕМЕЛЬНИЙ  Костянтин     A
1        БІРЮКОВ     Дмитро     A
2     БОНДАРЕНКО  Єлизавета     A
3     БРЕСЛАВЕЦЬ    Михайло     A
4      ГАЛЬПЕРІН     Максим     A
..           ...        ...   ...
70          ТЮПА      Павло     C
71         ТЮРІН     Богдан     C
72       УШКАЛОВ     Нікіта     C
73      ШЕВЧЕНКО  Олександр     C
74      ШЕХОВЦОВ     Дмитро     C

    The national grading scale Artificial Intelligence  \
0                                                   5
1                                                   4
2                                                   5
3                                                   3
4                                                   4
..                                                ...
70                                                  3
71                                                  3
72                                                  3
73                                                  4
74                                                  5

    The national grading scale Object-Oriented Programming
0                                                   5
1                                                   4
2                                                   5
3                                                   3
4                                                   4
..                                                ...
70                                                  3
71                                                  3
72                                                  3
73                                                  4
74                                                  5

[75 rows x 5 columns]
==============================================================================

SUBTASK 6
Unique last names: ['БЕЗЗЕМЕЛЬНИЙ', 'БІРЮКОВ', 'БОНДАРЕНКО', 'БРЕСЛАВЕЦЬ', 'ГАЛЬПЕРІН', 'ГРОШОВИЙ', 'ДЕХТЯРЬОВ', 'ДОВГОПОЛОВ', 'ЖЕЛТУХІНА', 'КУХТОВ', 'ЛАРІНА', 'ЛАСКОВЕЦЬ', 'ЛИМАР', 'ЛИТВИНЕНКО', 'МАКАРОВ', 'МАМЧУР', 'МУСІЙ', 'НИКОНЕНКО', 'ПОЛТОРАЦЬКИЙ', 'РЕЗАНЦЕВ', 'СКОПЦОВА', 'ТАБАКІН', 'ТАРАНОВ', 'ТЕЛЯНОВА', 'ЦИГАНКОВ', 'ЯКОВЛЕВ ', 'АВДЄЄВА', 'АЛЕКСЕНКО', 'БІЛИЙ', 'БОНДАР', 'БОРИСОВ', 'БУЛАВКА', 'ДЕМКІВ', 'ЗОЗУЛЯ', 'ІВАНОВ', 'ІВАНЧИХІН', 'КРИЖАНОВСЬКИЙ', 'ЛІСОГОРСЬКИЙ', 'МАТВЄЄВ', 'МОСКАЛЬ', 'НИКИФОРЕНКО', 'ПАНЧЕНКО', 'ПОЛТАВЕЦЬ', 'ПОТУШИНСЬКИЙ', 'СИДОРОВ', 'СОБОЛЕНКО', 'СТЕПА', 'ТКАЧЕНКО', 'ХЕН', 'ЧЕВАРДІН', 'ЦЫГУЛЕВ', 'ГАРІН', 'ДОБРОМІЛЬСЬКИЙ', 'ЄГОРОВ', 'ІЛЬЇН', 'КАЦ', 'КОМАРЕВЦЕВ', 'ЛОМАКА', 'МАЛИХІН', 'МУСТАФАЄВ', 'НАРАНОВИЧ', 'ПОГРЕБНИЙ', 'ПРИДВОРОВ', 'ПУСТОВИЙ', 'ПУТІЙ', 'СЕРІКОВ', 'СОЛЯНИК', 'СУХОЙ', 'ТАХТАУЛОВ', 'ТЮПА', 'ТЮРІН', 'УШКАЛОВ', 'ШЕВЧЕНКО', 'ШЕХОВЦОВ']
Unique first names: ['Костянтин', 'Дмитро', 'Єлизавета', 'Михайло', 'Максим', 'Микола', 'Сергій', 'Даніїл', 'Альона', 'Георгій', 'Марія', 'Андрій', 'Денис', 'Ярослав', 'Антон', 'Володимир', 'Ілля', 'Віталій', 'Олександр', 'Олена', 'Єгор', ' Богдан', 'Софія', 'Олег', 'Артем', 'Іван', 'Семен', 'Вячеслав', 'Всеволод', 'Олексій', 'Кирило', 'Валерія', 'Станіслав', 'Нікіта', 'Катерина', 'Роман', 'Данило', 'Ростислав', 'Назім', 'Руслан', 'Ян', 'Павло', 'Богдан']
Unique groups: ['A', 'B', 'C']
Unique AI national grades: [5, 4, 3, 2, 1]
Unique OOP national grades: [5, 4, 3, 2, 1]
==============================================================================

SUBTASK 7
Last name counts:
        Last name  Count
0         ІВАНОВ      2
1   БЕЗЗЕМЕЛЬНИЙ      1
2     БОНДАРЕНКО      1
3     БРЕСЛАВЕЦЬ      1
4      ГАЛЬПЕРІН      1
..           ...    ...
69          ТЮПА      1
70         ТЮРІН      1
71       УШКАЛОВ      1
72      ШЕВЧЕНКО      1
73      ШЕХОВЦОВ      1

[74 rows x 2 columns]

First name counts:
    First name  Count
0      Дмитро      8
1        Ілля      7
2      Сергій      4
3     Олексій      3
4      Максим      3
5   Єлизавета      2
6   Костянтин      2
7      Андрій      2
8     Ярослав      2
9     Михайло      2
10      Антон      2
11     Данило      2
12     Нікіта      2
13     Кирило      2
14      Денис      2
15       Єгор      2
16  Олександр      2
17     Микола      1
18     Даніїл      1
19      Марія      1
20    Георгій      1
21     Альона      1
22      Софія      1
23    Віталій      1
24      Олена      1
25     Богдан      1
26  Володимир      1
27      Семен      1
28       Іван      1
29      Артем      1
30       Олег      1
31   Вячеслав      1
32    Валерія      1
33  Станіслав      1
34   Всеволод      1
35   Катерина      1
36      Роман      1
37  Ростислав      1
38      Назім      1
39     Руслан      1
40         Ян      1
41      Павло      1
42     Богдан      1

Group counts:
   Group  Count
0     A     26
1     B     25
2     C     24

AI grade counts:
    Artificial Intelligence Grade  Count
0                              4     31
1                              3     20
2                              1      9
3                              5      8
4                              2      7

OOP grade counts:
    Object-Oriented Programming Grade  Count
0                                  4     31
1                                  3     20
2                                  1     11
3                                  5      8
4                                  2      5
==============================================================================

SUBTASK 8
The number of students with only excellent and good marks in all groups: 39
==============================================================================

SUBTASK 9
Printing unsatisfactory mark's count by groups
  Group  Number of Unsatisfactory Students
0     A                                  2
1     B                                  8
2     C                                  6
==============================================================================

SUBTASK 10
AI grade counts:
    The national grading scale Artificial Intelligence  Count
0                                                  1       9
1                                                  2       7
2                                                  3      20
3                                                  4      31
4                                                  5       8

OOP grade counts:
    The national grading scale Object-Oriented Programming  Count
0                                                  1          11
1                                                  2           5
2                                                  3          20
3                                                  4          31
4                                                  5           8
==============================================================================

SUBTASK 11
Groups without any Unsatisfactory marks:
   Group  Count
0     A     24
1     B     17
2     C     18

# TensorFlow 2 quickstart for beginners

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://www.tensorflow.org/tutorials/quickstart/beginner"><img src="https://www.tensorflow.org/images/tf_logo_32px.png" />View on TensorFlow.org</a>
  </td>
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/quickstart/beginner.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/tensorflow/docs/blob/master/site/en/tutorials/quickstart/beginner.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
  <td>
    <a href="https://storage.googleapis.com/tensorflow_docs/docs/site/en/tutorials/quickstart/beginner.ipynb"><img src="https://www.tensorflow.org/images/download_logo_32px.png" />Download notebook</a>
  </td>
</table>

This short introduction uses [Keras](https://www.tensorflow.org/guide/keras/overview) to:

1. Load a prebuilt dataset.
1. Build a neural network machine learning model that classifies images.
2. Train this neural network.
3. Evaluate the accuracy of the model.

This tutorial is a [Google Colaboratory](https://colab.research.google.com/notebooks/welcome.ipynb) notebook. Python programs are run directly in the browser—a great way to learn and use TensorFlow. To follow this tutorial, run the notebook in Google Colab by clicking the button at the top of this page.

1. In Colab, connect to a Python runtime: At the top-right of the menu bar, select *CONNECT*.
2. To run all the code in the notebook, select **Runtime** > **Run all**. To run the code cells one at a time, hover over each cell and select the **Run cell** icon.

![Run cell icon](https://github.com/tensorflow/docs/blob/master/site/en/tutorials/quickstart/images/beginner/run_cell_icon.png?raw=1)

## Set up TensorFlow

Import TensorFlow into your program to get started:

In [ ]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

If you are following along in your own development environment, rather than [Colab](https://colab.research.google.com/github/tensorflow/docs/blob/master/site/en/tutorials/quickstart/beginner.ipynb), see the [install guide](https://www.tensorflow.org/install) for setting up TensorFlow for development.

Note: Make sure you have upgraded to the latest `pip` to install the TensorFlow 2 package if you are using your own development environment. See the [install guide](https://www.tensorflow.org/install) for details.

## Load a dataset

Load and prepare the MNIST dataset. The pixel values of the images range from 0 through 255. Scale these values to a range of 0 to 1 by dividing the values by `255.0`. This also converts the sample data from integers to floating-point numbers:

In [ ]:
mnist = tf.keras.datasets.mnist

(x_train, y_train), (x_test, y_test) = mnist.load_data()
x_train, x_test = x_train / 255.0, x_test / 255.0

## Build a machine learning model

Build a `tf.keras.Sequential` model:

In [ ]:
model = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(28, 28)),
  tf.keras.layers.Dense(128, activation='relu'),
  tf.keras.layers.Dropout(0.2),
  tf.keras.layers.Dense(10)
])

[`Sequential`](https://www.tensorflow.org/guide/keras/sequential_model) is useful for stacking layers where each layer has one input [tensor](https://www.tensorflow.org/guide/tensor) and one output tensor. Layers are functions with a known mathematical structure that can be reused and have trainable variables. Most TensorFlow models are composed of layers. This model uses the [`Flatten`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Flatten), [`Dense`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dense), and [`Dropout`](https://www.tensorflow.org/api_docs/python/tf/keras/layers/Dropout) layers.

For each example, the model returns a vector of [logits](https://developers.google.com/machine-learning/glossary#logits) or [log-odds](https://developers.google.com/machine-learning/glossary#log-odds) scores, one for each class.

In [ ]:
predictions = model(x_train[:1]).numpy()
predictions

The `tf.nn.softmax` function converts these logits to *probabilities* for each class:

In [ ]:
tf.nn.softmax(predictions).numpy()

Note: It is possible to bake the `tf.nn.softmax` function into the activation function for the last layer of the network. While this can make the model output more directly interpretable, this approach is discouraged as it's impossible to provide an exact and numerically stable loss calculation for all models when using a softmax output.

Define a loss function for training using `losses.SparseCategoricalCrossentropy`:

In [ ]:
loss_fn = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)

The loss function takes a vector of ground truth values and a vector of logits and returns a scalar loss for each example. This loss is equal to the negative log probability of the true class: The loss is zero if the model is sure of the correct class.

This untrained model gives probabilities close to random (1/10 for each class), so the initial loss should be close to `-tf.math.log(1/10) ~= 2.3`.

In [ ]:
loss_fn(y_train[:1], predictions).numpy()

Before you start training, configure and compile the model using Keras `Model.compile`. Set the [`optimizer`](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers) class to `adam`, set the `loss` to the `loss_fn` function you defined earlier, and specify a metric to be evaluated for the model by setting the `metrics` parameter to `accuracy`.

In [ ]:
model.compile(optimizer='adam',
              loss=loss_fn,
              metrics=['accuracy'])

## Train and evaluate your model

Use the `Model.fit` method to adjust your model parameters and minimize the loss:

In [ ]:
model.fit(x_train, y_train, epochs=5)

The `Model.evaluate` method checks the model's performance, usually on a [validation set](https://developers.google.com/machine-learning/glossary#validation-set) or [test set](https://developers.google.com/machine-learning/glossary#test-set).

In [ ]:
model.evaluate(x_test,  y_test, verbose=2)

The image classifier is now trained to ~98% accuracy on this dataset. To learn more, read the [TensorFlow tutorials](https://www.tensorflow.org/tutorials/).

If you want your model to return a probability, you can wrap the trained model, and attach the softmax to it:

In [ ]:
probability_model = tf.keras.Sequential([
  model,
  tf.keras.layers.Softmax()
])

In [ ]:
probability_model(x_test[:5])

## Conclusion

Congratulations! You have trained a machine learning model using a prebuilt dataset using the [Keras](https://www.tensorflow.org/guide/keras/overview) API.

For more examples of using Keras, check out the [tutorials](https://www.tensorflow.org/tutorials/keras/). To learn more about building models with Keras, read the [guides](https://www.tensorflow.org/guide/keras). If you want learn more about loading and preparing data, see the tutorials on [image data loading](https://www.tensorflow.org/tutorials/load_data/images) or [CSV data loading](https://www.tensorflow.org/tutorials/load_data/csv).